body {
  font-family: "Cairo", sans-serif;
}

h1 {
  color: #403f3f;
  font-size: 26px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li,
h2 {
  color: #5e5c5c;
  font-size: 16px;
  font-weight: 400;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background: rgba(172, 206, 247, 0.826);
  box-shadow: 0 8px 32px 0 rgba(185, 188, 227, 0.47);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.btn-search {
  transition: all 2ms ease-in;
  color: rgb(101, 96, 96);
  border: 1px solid white;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px 22px;
  outline: none;
  border-radius: 10px;
}

.btn-search :hover {
  color: #001f3f;
  background-color: rgb(44, 102, 236);
}

.btn-current-city {
  transition: all 2ms ease-in;
  color: rgb(101, 96, 96);
  border: 1px solid white;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px 15px;
  outline: none;
  border-radius: 10px;
}

.btn-current-city :hover {
  color: #001f3f;
  background-color: rgb(98, 236, 44);
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.container-text-center {
  padding: 10px 5px;
}
.card {
  text-align: center;
  background: rgba(249, 237, 237, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.search-form {
  margin-bottom: 20px;
}

.open-source-link {
  display: block;
  padding-left: 260px;
  font-size: small;
}